.home {
    padding: 0px 100px;
}

.carousel {
    margin: 20px auto;
}

.carouselItem {
    height: 300px;
}

.carouselImage {
    width: 100%;
    height: 300px;
}

.describe {
    word-spacing: 4px;
    flex-wrap: wrap;
    padding: 40px 20px;
}

.text {
    text-indent: 2rem;
    line-height: 1.8;
}

.teacher {
    padding: 20px;
}

.teacher-head {
    padding: 60px 60px;
}